<table class="table">
	<tbody>
		<tr>
			<td>
				<h1 class="mx-0 mt-3 mb-0">{{title}}</h1>

			</td>

			<td class="text-right pt-2">
				{{logo}}

			</td>

		</tr>

	</tbody>

</table>

<table class="table">
	<tbody>
		<tr>
			<td class="pt-4">{{contractor}}</td>

			<td style="width: 140px;" class="text-right pt-2">
				<table>
					<tbody>
						<tr>
							<td>refer</td>
							<td>{{reference}}</td>
						</tr>

						<tr>
							<td>due</td>
							<td>{{due}}</td>
						</tr>

						<tr>
							<td>updated</td>
							<td>{{updated}}</td>
						</tr>

					</tbody>

				</table>

			</td>

		</tr>

	</tbody>

</table>

<table class="table">
	<tbody>
		<tr>
			<td style="width: 50%" class="pt-2">{{address}}</td>
			<td style="width: 50%" class="pt-2">{{invoice_to}}</td>

		</tr>

	</tbody>

</table>

{{content}}