<table class="table">
	<tbody>
		<tr>
			<td>
				<h1 class="mx-0 mt-3 mb-0">{{title}}</h1>

			</td>

			<td class="text-right pt-2">
				{{logo}}

			</td>

		</tr>

	</tbody>

</table>

<table class="table">
	<tbody>
		<tr>
			<td class="pt-4">{{contractor}}</td>

			<td style="width: 140px;" class="text-right pt-2">
				due : {{due}}

			</td>

			<td style="width: 140px;" class="text-right pt-2">
				updated : {{updated}}

			</td>

		</tr>

		<tr>
			<td class="pt-2">{{address}}</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>

		</tr>

	</tbody>

</table>

{{content}}
